
extends layout

block content
    img(src="/images/borg.png")
    h1 Under heavy development! Many things will change. Do not mine here yet, as the payment system is still inoperable. :)
    h5 I can't stay away.
    b Quick Config:
    ol
        li Create an account at addie.cc
        li Add any addresses required for payout of all coins you will be mining on the pool
        li Use the connection information below to connect your scrypt miner with your addie.cc username
        li View stats:
        ul
            li /user/(username) - View individual user stats
            li /block/(coin) - View blocks found by the pool for coins
            li /block/(coin)/(height) - View block rewards for each client
            li /payout/(coin) - View transaction IDs of payouts from the pool
            li /payout/(coin)/(id) - View details about the transaction from a specific payout

    h1 Connection Details
    each pool,i in pools
        hr
        h3= pool.coin.name
        each aux in pool.auxes
            h4= "MERGED WITH: " + aux.name
        h4="HASHRATE: " + hashrates[i]
        each data,port in pool.ports
            h5= "PORT: " + port + " DIFFICULTY: " + data.diff + " VARDIFF: " + (data.varDiff ? "YES" : "NO")
